version: '3.9'
services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - '3000:3000'
    env_file:
      - .env.development
    depends_on:
      postgres:
        condition: service_healthy
    volumes:
      - .:/app
    restart: always

  postgres:
    image: postgres:15
    container_name: nest-db2
    
    hostname: postgres
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: root
      POSTGRES_DB: ingesoft_db
    ports:
      - '5432:5432'
    volumes:
      - db-data:/var/lib/postgresql/data
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U postgres -d ingesoft_db']
      interval: 10s
      retries: 5
      start_period: 30s
      timeout: 5s

volumes:
  db-data:
